<a href="https://colab.research.google.com/github/AnjaliGummuluri-050/python-new/blob/Module2/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Recursive function to find product of two numbers
def product( x , y ):
    if x < y:
        return product(y, x)
    elif y != 0:
        return (x + product(x, y - 1))
    else:
        return 0
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print( product(x, y))

Enter first number: 4
Enter second number: 5
20

In [ ]:
#Program to get the difference between the two lists. 
l1=['apple','banana','squid']
list2=['squid','mass','gainer']
x=set(l1)
y=set(list2)
z=x.difference(y)
w=y.difference(x)
z.update(w)
a=list(z)
print(a)

['apple', 'gainer', 'banana', 'mass']

In [ ]:
#create a list of tuples having first element as the number and second element as the square of the number.
start=int(input("Enter the lower range: "))
end=int(input("Enter the upper range: "))
a=[(x,x**2) for x in range(start,end+1)]
print(a)

Enter the lower range: 1
Enter the upper range: 10
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [ ]:
#Given a list of tuples, remove all the tuples with length K
list1=[(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=2
y=len(list1)
for x in range(0,y+1):
  if y==k:
    list1.remove(x)
print(list1)

[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n=int(input("Enter ending value of range: "))
d=dict()
for x in range(1,n+1):
 d[x]=x*x
print(d)

Enter ending value of range: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#x Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.
s=str(input("Enter a string"))
x=str(input("Enter letter to be counted"))
y=s.count(x)
print(y)
f=0
for i in range(len(s)):
  m=s.index("o")
  print(m)
k=s.replace("b","k")
print(k)

Enter a stringbook
Enter letter to be countedo
2
1
1
1
1
kook

In [ ]:
s=str(input())
x=0
y=0
l=len(s)
for i in s:
 if i.islower():
   x=x+1
 else:
   y+=1
print(x,y)

GaG
1 2

In [ ]:
def hcf(x,y):
    if x > y:
        a = y
    else:
        a = x
    for i in range(1, a+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

n = int(input()) 
m = int(input())

print("The H.C.F. is", hcf(n, m))

54
48
The H.C.F. is 6

In [ ]:
#Program to Acronym generator for any user input 
s=str(input())
l=len(s)
c=0
print(s[0].title(),end="")
for i in range(0,l-1):
  if s[i].isspace():
    j=i+1
    print(s[j].title(),end="")
for i in range(0,l-1):
  if s[i].isspace():
    c+=1
print("\n"+str(c))

Random Access Memory
RAM
2

In [ ]:
#create a list of tuples having first element as the number and second element as the square of the number.
list=[]
n=int(input())
for i in range(0,n):
  x=(int(input()))
  list.append(x)
print(list)
result=[(y,pow(y,2)) for y in list]
print(result)

5
1
2
3
4
5
[1, 2, 3, 4, 5]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#Program to remove a key from a dictionary
thisdict={
    "Name":str(input()),
    "Roll":int(input()),
    "Sec":str(input())
}
print(thisdict)
del thisdict["Name"]
print(thisdict)

Anjali
50
A
{'Name': 'Anjali', 'Roll': 50, 'Sec': 'A'}
{'Roll': 50, 'Sec': 'A'}

In [ ]:
#Program for replacing one substring by another 
s= str(input("Enter string: "))
sub = str(input("Enter the substring to be replaced: "))
r = str(input("Enter the string to replace with: "))
print (s.replace(sub, r))

Enter string: Hello aiml guys
Enter the substring to be replaced: guys
Enter the string to be replaced:people
Hello aiml people

In [ ]:
#Program to find the second smallest number and second largest number in a list
list1=[]
n=int(input("Enter the number of elements: "))
for i in range(0,n):
  x=int(input())
  list1.append(x)
print(list1)
list1.sort()
print(list1)
print(list1[1], list1[-2])

Enter the number of elements: 5
4
2
1
9
7
[4, 2, 1, 9, 7]
[1, 2, 4, 7, 9]
2 7

In [ ]:
#Program to get the maximum and minimum value in a dictionary.
dictionary = {'x':int(input()),
              'y':int(input()),
              'z':int(input())
           }

max_key=max(dictionary, key=dictionary.get)
print("The maximum value is: ")
print(max_key, end=" ")
print(dictionary.get(max_key))
min_key = min(dictionary, key=dictionary.get)
print("The minimum value is: ")
print(min_key,end=" ")
print(dictionary.get(min_key))

2
5
1
The maximum value is:
y 5
The minimum value is:
z 1

In [ ]:
#Given list of tuples, remove all the tuples with length K.
l1 = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("original list : " + str(l1))
K = 2
x = [i for i in l1 if len(i) != K]
print("Filtered list : " + str(x))

original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations
s=input()
x=s.split()
print(x)
print(s[0:7])

how are you
['how', 'are', 'you']
how are

In [ ]:
#Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.
def index(str, s):
    flag = False
    for i in range(len(str)):
        if (str[i:i + len(s)] == s):  
            print( i, end =" ")
            flag = True
    if (flag == False):
        print("NONE");      
s1 = input()
s2 = input()
index(s1, s2)
x=s1.count(s2)
print("\n"+str(x))

hi hi my name is anjali
hi
0 3
2

In [ ]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
def match(s):
  c = 0

  for i in s:
    if len(i) > 1 and i[0] == i[-1]:
      c += 1
  return c

print(match(['abc', 'xyz', 'aba', '1221']))

2