<a href="https://colab.research.google.com/github/AnjaliGummuluri-050/python-new/blob/Module2/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisdict={
    "Name":str(input("Enter your name: ")),
    "CGPA":int(input("Enter your CGPA")),
    "Ph No.":int(input("Enter your phone number: ")),
    "Section":str(input("Enter your section: ")),
}
print(thisdict)
print(thisdict['CGPA'])
print(len(thisdict))

Enter your name: anj
Enter your CGPA4
Enter your phone number: 444
Enter your section: w
{'Name': 'anj', 'CGPA': 4, 'Ph No.': 444, 'Section': 'w'}
4
4

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
thisdict={
    "Name":str(input("Enter your name: ")),
    "CGPA":int(input("Enter your CGPA")),
    "Ph No.":int(input("Enter your phone number: ")),
    "Section":str(input("Enter your section: ")),
}
x=thisdict.get('Ph No.')
print(x)
print(thisdict.keys())

Enter your name: sadad
Enter your CGPA7
Enter your phone number: 76856567
Enter your section: yu
76856567
dict_keys(['Name', 'CGPA', 'Ph No.', 'Section'])

In [ ]:
student={
    "Name":str(input()),
    "Age": int(input()),
    "Number":int(input())
}
x=student.keys()
print(x)
student["cgpa"]=int(input())
print(x)

dz
44
4432
dict_keys(['Name', 'Age', 'Number'])
45
dict_keys(['Name', 'Age', 'Number', 'cgpa'])

In [1]:
thisdict={
    "Name":"Anjali",
    "Roll":2,
    "Car":"Mustang"
}
print(thisdict.keys())
print(thisdict.values())
thisdict.update({"color":"red"})
print(thisdict)
thisdict.pop("Name")
print(thisdict)
thisdict.popitem()
print(thisdict)

dict_keys(['Name', 'Roll', 'Car'])
dict_values(['GAGA', 2, 'Mustang'])
{'Name': 'GAGA', 'Roll': 2, 'Car': 'Mustang', 'color': 'red'}
{'Roll': 2, 'Car': 'Mustang', 'color': 'red'}
{'Roll': 2, 'Car': 'Mustang'}

In [2]:
thisdict={
    "Name":"Anjali",
    "Roll":2,
    "Car":"Mustang"
}
del thisdict["Car"]
print(thisdict)

{'Name': 'Anjali', 'Roll': 2}

In [3]:
thisdict={
    "Name":"Anjali",
    "Roll":2,
    "Car":"Mustang"
}
for x, y in thisdict.items():
  print(x, y)
mine=thisdict.copy()
yours=dict(thisdict)
print(mine)
print(yours)

Name Anjali
Roll 2
Car Mustang
{'Name': 'Anjali', 'Roll': 2, 'Car': 'Mustang'}
{'Name': 'Anjali', 'Roll': 2, 'Car': 'Mustang'}

In [ ]:
bigd={
    "sibling1":{
        "Name":"Mallika",
        "Sun Sign":"Taurus",
        "D.O.B":"5-13"
    },
    "sibling2":{
        "Name":"Anjali",
        "Sun Sign":"Taurus",
        "D.O.B":"4-27"
    },
    "sibling3":{
        "Name":"Josh",
        "Sun Sign":"Aquarius",
        "D.O.B":"2-10"
    }
}
print(bigd.items())

dict_items([('sibling1', {'Name': 'Mallika', 'Sun Sign': 'Taurus', 'D.O.B': '5-13'}), ('sibling2', {'Name': 'Anjali', 'Sun Sign': 'Taurus', 'D.O.B': '4-27'}), ('sibling3', {'Name': 'Josh', 'Sun Sign': 'Aquarius', 'D.O.B': '2-10'})])

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
  d[i]=i*i
print(d)

6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}