<a href="https://colab.research.google.com/github/AnjaliGummuluri-050/python-new/blob/Module2/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func():
  print("hello")
  print("""i think this
is a sentence""")
func()

hello
i think this
is a sentence

In [ ]:
def func(n):
  a=n+1
  print(a)
def newfunc(s):
  print(s+" wow")
k=int(input())
m=str(input())
func(k)
newfunc(m)

9
oh
10
oh wow

In [ ]:
def voting(name,age,gender):
  print("My name is {}, I am {} years old. Gender: {}".format(name,age,gender))
  if(age>=18):
   print("Eligible to vote")
  else:
    print("Not eligible")
k=str(input("Enter your name\n"))
l=int(input("Enter your age\n"))
m=str(input("Enter your gender\n"))
voting(k,l,m)

Enter your name
anjali
Enter your age
18
Enter your gender
female
My name is anjali, I am 18 years old. Gender: female
Eligible to vote

In [1]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("C", "B", "A")

The youngest child is A

If the number of arguments is unknown, add a * before the parameter name

In [ ]:
def func(*pens):
  print("I need to buy "+str(pens[3])+" pens for tomorrow")
func(1,2,3,4)

I need to buy 4 pens for tomorrow

In [2]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "A", lname = "Refsnes")

His last name is Refsnes

In [3]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [4]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21