<a href="https://colab.research.google.com/github/AnjaliGummuluri-050/python-new/blob/Module2/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s={'flowers','potatoes'}
print(s)

{'flowers', 'potatoes'}

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Sets cannot have two items with the same value.

In [ ]:
s={'flowers','potatoes','vanilla','soap','flowers'}
print(s)

{'vanilla', 'flowers', 'potatoes', 'soap'}

In [1]:
s={'flowers','potatoes','soap','crown'}
print(len(s))
s.add('orange')
print(s)
t={'bank','Money'}
s.update(t)
print(s)

4
{'orange', 'flowers', 'crown', 'potatoes', 'soap'}
{'orange', 'flowers', 'crown', 'bank', 'potatoes', 'Money', 'soap'}

In [ ]:
s={'flowers','potatoes','soap','crown'}
v=['hand','foot']
s.update(v)
print(s)
print(s.pop())
print(s)

{'crown', 'hand', 'foot', 'soap', 'flowers', 'potatoes'}
crown
{'hand', 'foot', 'soap', 'flowers', 'potatoes'}

In [ ]:
s={'flowers','potatoes','soap','crown'}
s.remove('crown')
print(s)
s.discard('flowers')
print(s)

{'flowers', 'soap', 'potatoes'}
{'soap', 'potatoes'}

 clear() method empties the set
 del keyword will delete the set completely

In [ ]:
set1={'anjali','gummuluri','mallika'}
set2={1,3,5}
x=set1.union(set2)
print(x)

{1, 'anjali', 3, 5, 'mallika', 'gummuluri'}

In [ ]:
set1={'anjali','gummuluri','mallika'}
set2={1,3,5,6}
set1.update(set2)
print(set1)

{1, 'anjali', 3, 5, 6, 'mallika', 'gummuluri'}

In [ ]:
set1={'anjali','gummuluri','mallika'}
set2={'p',1,2,3,4,5,'anjali'}
r=set1.union(set2)
print(r)
x=set1.intersection(set2)
print(x)
y=set1.symmetric_difference(set2)
print(y)

{1, 2, 3, 4, 5, 'mallika', 'anjali', 'p', 'gummuluri'}
{'anjali'}
{1, 2, 3, 4, 5, 'p', 'gummuluri', 'mallika'}