<a href="https://colab.research.google.com/github/AnjaliGummuluri-050/python-new/blob/Module2/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mytuple=('butterflies','flowers','grass')
print(mytuple)

('butterflies', 'flowers', 'grass')

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
cannot change, add or remove items after the tuple has been created.

In [ ]:
fruits=('banana','orange','peach')
print(len(fruits))

3

In [ ]:
fruit=('cherry',) #one item
print(fruit)

('cherry',)

lists[] tuples() sets{}

In [ ]:
#Duplicates 
tup=('apple','fox','star','apple','hello','fox')
print(tup)

('apple', 'fox', 'star', 'apple', 'hello', 'fox')

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
a=(1,12,3,4,1,1,2)
b=list(a)
for i in b:
  if i==1:
    b.remove(1)
c=tuple(b)
print(c)

(12, 3, 4, 1, 2)

In [2]:
egg=('mango','cherry','banana','apple')
y=list(egg)
y.insert(1,'f')
x=tuple(y)
print(x)

('mango', 'f', 'cherry', 'banana', 'apple')

In [ ]:
s=('red','green','blue')
for x in s:
  print(x)

red
green
blue

In [ ]:
s=('red','green','blue')
for x in range(len(s)):
  print(s[x])

red
green
blue

In [ ]:
s=('cherry','smoothie','ice')
i=0
while i <len(s):
  print(s[i])
  i=i+1

cherry
smoothie
ice

In [ ]:
a=('bobbi brown','dior','forever21')
b=('smashbox', 'twofaced', 'hm'))
c=a+b
print(c)

('bobbi brown', 'dior', 'forever21', 'smashbox', 'twofaced', 'hm')

In [ ]:
#The count() method returns the number of times a specified value appears in the tuple.
a=('bobbi brown','dior','forever21','smashbox', 'twofaced', 'hm','smashbox', 'twofaced', 'hm')
x=a.count('hm')
print(x)

2

In [ ]:
#	Searches the tuple for a specified value and returns the position of where it was found
a=('bobbi brown','dior','forever21','dior')
print(a.index('dior'))

1